{% extends 'base.html' %}

{% block head %}
<title>OnlineGallery</title>
{% endblock %}

{% block body %}
<div class="welcome-container">
    <div class="text-gradient">
        <div class="welcome-text">
            <h2>
                Gallery allows you to generate a gallery about your topic and make a collage from it.
                <br>
                After the gallery is loaded you can apply 3 different effects or delete the image from the gallery.
                <br>
                To apply these changes, click the button on the left side of the screen.
                <br>
                After applying effects you can select pictures to make collage from this gallery.
                <br>
                To download gallery or collage click button on left side of screen.
                <br>
                This app works best with 100% website size.
            </h2>
        </div>
    </div>

</div>
{% endblock %}