{% extends 'base.html' %}

{% block head %}
<title>OnlineGallery</title>
{% endblock %}

{% block body %}
<div class="welcome-container">
    <div class="text-gradient">
        <div class="welcome-text">
            <h1>
                Welcome to online gallery.
            </h1>
            <h2>
                Gallery allows you to generate gallery about your topic and make collage from it.
                <br>
                You can go to gallery by clicking on navigation bar above.
            </h2>
        </div>
    </div>

</div>
{% endblock %}